name: Eden CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: macos-15

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Select Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '16.1'

    - name: Install XcodeGen
      run: brew install xcodegen

    - name: Generate Xcode Project
      run: xcodegen generate

    - name: Build and Test
      run: |
        xcodebuild -scheme "Eden" \
                   -project "Eden.xcodeproj" \
                   -destination "platform=macOS" \
                   build test \
                   CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO
